NEXT_PUBLIC_SUPABASE_URL=https://tsmprljeyszfjnmfzszx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzbXBybGpleXN6ZmpubWZ6c3p4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzMzY5NDcsImV4cCI6MjEwNTkxMjk0N30.bBlll18tAxG_HEaB_5pWxNce_sC1HVDU0ynf9FrE6ks
